.search-button{
    width: 100px;
    height:50px;
    margin-left: 10px;
}

.search-box{
    margin-left: 10px;
    width: 60px;
    height: 50px;
}

.filter-section{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 0vh;
    /* opacity: 0.8; */
    margin: 20px;
}

.switch{
    margin: 10px;
}

.dog-info{
    display: center;
    justify-content: center;
    align-items: center;
}

.pagination-button{
    width: 120px;
    height: 50px;
    margin: 5px;
}

.pagination-section{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-section{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    margin: 5px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

p{
    margin-left: 10px;
}

img{
    border-radius: 10px;
    margin: 10px;
}

.description-section{
    display:block;
    justify-content: center;
    align-items: baseline;
}

h4{
    margin: 10px;
}


/* CSS for infoboxes */
.tooltip-container {
    position: relative;
    display: inline-block;
}
  
.tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}
  
.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.attribute-header{
    display:center;
    justify-content: center;
    align-items: center;
}

span{
    margin-left: 10px;
}

p{
    font-weight: bold;
    color:chocolate;
}