.start-box{
    opacity: 0.8;
    border: 2px solid;
    margin: 40px;
    background-color: aliceblue;
    opacity: 0.8;
    border-radius: 5px;
}

.content-box{
    display: center;
    justify-content:center;
    align-items: center;
    min-height: 50vh;
    opacity: 0.8;
    border: 2px solid;
    margin: 20px;
    background-color: aliceblue;
    opacity: 0.8;
}

h2{
    font-size:large;
    color: brown;
}