
.search-button{
    width:200px;
    height:50px;
    margin-left: 10px;
}

.search-box{
    margin-left: 10px;
    height: 50px;
    width: 200px;

}

.form{
    display:block;
    justify-content: left;
    align-items: left;
}